body {
  height: 100vh;
  margin: 0;
  display: flex;
}

table.sudoku {
  border-collapse: collapse;
  margin: auto;
  border: medium solid black;
}
table.sudoku td {
  border: thin solid lightgray;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
}
table.sudoku td:nth-child(3n) {
  border-right: medium solid black;
}
table.sudoku tr:nth-child(3n) {
  border-bottom: medium solid black;
}

.sudoku tr:nth-child(1) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(1) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(1) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(1) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(1) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(1) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(1) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(1) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(1) > td:nth-child(9) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(2) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(2) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(2) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(2) > td:nth-child(9) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(3) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(3) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(3) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(3) > td:nth-child(9) {
  background-color: lavender;
}
.sudoku tr:nth-child(4) > td:nth-child(1) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(4) > td:nth-child(2) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(4) > td:nth-child(3) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(4) > td:nth-child(4) {
  background-color: lavender;
}
.sudoku tr:nth-child(4) > td:nth-child(5) {
  background-color: lavender;
}
.sudoku tr:nth-child(4) > td:nth-child(6) {
  background-color: lavender;
}
.sudoku tr:nth-child(4) > td:nth-child(7) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(4) > td:nth-child(8) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(4) > td:nth-child(9) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(1) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(2) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(3) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(4) {
  background-color: lavender;
}
.sudoku tr:nth-child(5) > td:nth-child(5) {
  background-color: lavender;
}
.sudoku tr:nth-child(5) > td:nth-child(6) {
  background-color: lavender;
}
.sudoku tr:nth-child(5) > td:nth-child(7) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(8) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(5) > td:nth-child(9) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(1) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(2) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(3) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(4) {
  background-color: lavender;
}
.sudoku tr:nth-child(6) > td:nth-child(5) {
  background-color: lavender;
}
.sudoku tr:nth-child(6) > td:nth-child(6) {
  background-color: lavender;
}
.sudoku tr:nth-child(6) > td:nth-child(7) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(8) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(6) > td:nth-child(9) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(7) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(7) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(7) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(7) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(7) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(7) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(7) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(7) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(7) > td:nth-child(9) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(8) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(8) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(8) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(8) > td:nth-child(9) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(1) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(2) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(3) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(4) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(9) > td:nth-child(5) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(9) > td:nth-child(6) {
  background-color: whitesmoke;
}
.sudoku tr:nth-child(9) > td:nth-child(7) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(8) {
  background-color: lavender;
}
.sudoku tr:nth-child(9) > td:nth-child(9) {
  background-color: lavender;
}/*# sourceMappingURL=fancy-sudoku.css.map */