* {
    display: block;
}

book {
    background-color: cornsilk;
    counter-reset: chapter-number footnote-number;
}

author, title {
    text-align: center;
    padding: 0.5em;
}

author {
    font-size: x-large;
    font-variant: small-caps;
}

book > title {
    font-size: xx-large;
}

chapter {
    margin: 0.5em;
}

title + chapter {
    border-top: thin solid black;
}

chapter > title {
    font-size: x-large;
    text-decoration: underline;
}

chapter > title::before {
    content: counter(chapter-number, upper-roman) ". ";
    counter-increment: chapter-number;
}

para {
    padding: 0.5em;
    text-indent: 1em;
}

title + para {
    text-indent: 0em;
}

title + para::first-letter {
    font-size: 1.5em;
}

para:hover {
    color: white;
    background-color: slateblue;
}

footnote {
    font-size: 0;
    display: inline;
    vertical-align: super;
}

footnote::before {
    content: "[" counter(footnote-number) "]";
    counter-increment: footnote-number;
    font-size: small;
}

footnote:hover {
    background-color: salmon;
    font-size: large;
    padding: 0.5em;
}

footnote:hover::before {
    content: "[" counter(footnote-number) "] ";
    font-size: large;
}